$black: #000000;
$white: #ffffff;
$blue: #3CB4E5;
$theme-black:#343434;
$dark-blue:#0B325F;
$brdr-color:#707070;
$popp-medium: "Poppins-Medium", sans-serif;
$popp-reg: "Poppins-Regular", sans-serif;
$popp-semi: "Poppins-SemiBold", sans-serif;
$hel-medium: "HelveticaNeueMedium", sans-serif;
$hel-thin: "HelveticaNeueThin", sans-serif;
$bry_medium:"Bryant_Medium", sans-serif;

