@use "../abstract/" as *;
@use "../components/button" as *;
@use "../layout/navbar" as *;
header {
  padding-top: 5.2rem;
  padding-bottom: 2.4rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}
@include max-media(991px) {
  header {
    padding-top: 3.2rem;
  }
}
